*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans';
    font-size: 16px;
}

.menu{
    background-image: linear-gradient(120deg, #a6c0fe 0%, #2c3e50 100%);
    height: 80px;
    position: fixed;
    z-index: 11;
    width: 100%;
    text-align: right;
}

.menu img{
    position: relative;
    top: 15px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.menu p{
    display: inline;
    position: absolute;
    left: 10px;
    line-height: 80px;
    color: #fff;
}

.menu a{
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    line-height: 80px;
}

header{
    width: 100%;
    height: 650px;
    background-image: url(skewed.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: #fff;
    text-align: center;
}



header .textos {
    margin-top: 152px;
}
header .titulo{
    font-size: 85px;
}

header .subtitulo{
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 32px;
}

header .boton{
    display: inline-block;
    padding: 6px;
    width: 128px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
}

header .boton:hover{
    background-color: rgba(52, 73, 94, 0.815);
    color: #000;
    border: 1px solid  rgba(52, 73, 94, 0.815);
}


.sesgoabajo{
    z-index: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.sesgoarriba{
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    border-width: 35vh 100vw 0 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent;

}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0;
}

.sobre-nosotros{
    text-align: center;
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 600;
}

.slogan{
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 24px;
}

.parrafo{
    margin-bottom: 13px;
    font-weight: 300;
    text-align: justify;
    line-height: 24px;
    color: rgb(24,16,16);
}

.acerca-de .boton{
    display: inline-block;
    padding: 6px;
    width: 128px;
    border: 1px solid rgba(24,16,16,.7);
    color: rgb(24,16,16);
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
}

.acerca-de .boton:hover {
    background-color: rgba(52, 73, 94, 0.815);
    color: #000;
    border: 1px solid  rgba(52, 73, 94, 0.815);
}

.galeria{
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.imagenes{
    width: 20%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.imagenes img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.encima{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 73, 94, 0.815);
}

.encima h2{
    position: relative;
    top: 45%;
    text-align: center;
    color: #fff;
}

.encima div{
    position: relative;
    display: block;
    top: 46%;
    width: 40px;
    height: 5px;
    background: #fff;
    margin: auto;
}

.cards{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    margin: 20px 0;
    width: 30%;
    height: 300px;
    text-align: center;
    padding: 20px;
    border-radius: 6%;
    box-shadow: 0px 0px 4px 0 rgba(52, 73, 94, 0.849);
}

.cards img{
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 100%;
    border-color: rgba(24,16,16,.7);
    box-shadow: 0px 0px 4px 0 rgba(52, 73, 94, 0.849);
}

.cards .card .boton{
    display: inline-block;
    margin: 20px;
    padding: 6px;
    width: 128px;
    border: 1px solid rgba(24,16,16,.7);
    color: rgb(24,16,16);
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
}

.fondo {
    height: 1024px;
    position: relative;
    background-image: url(fondo.jpg);
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    padding-top: 150px;
    
}

.sesgoabajo-unico {
    z-index: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent #2c3e50 transparent;
}

.titulo-compensaciones, .subtitulo-compensaciones {
    color: #fff;
    text-align: center;;
}

.titulo-compensaciones {
    font-size: 46px;
    margin-top: 48px;
}

.subtitulo-compensaciones {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 64px;
}

.compensaciones {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 64px;
    width: 100%;
    justify-content: space-between;
}

.compensacion {
    width: 30%;
    margin: auto;
    height: 120px;
    text-align: center;
    padding: 20px;
    border-radius: 6%;
    box-shadow: 0px 0px 4px 0 rgba(52, 73, 94, 0.849);
    background: linear-gradient(to bottom, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 41%, rgba(248,181,0,1) 53%, rgba(251,223,147,1) 100%);
}

.compensacion h2 {
    color: rgb(67,67,67);
    display: inline;
    font-size: 56px;
}

.compensacion hr{
    display: inline;
    font-size: 56px;
    margin: 10px;
}

.compensacion p{
    display: inline;
    padding: 0;
}

.compensaciones__video{
    margin: auto;
    width: 560px;
}

.compensaciones__video iframe{
    width: 560px; 
    height: 315px;
}

footer{
    background: #2c3e50;
    height: auto;
}

.titulo-footer, .subtitulo-footer{
    color: #fff;
    text-align: center;
    font-size: 56px;
    font-weight: 400;;
}

.subtitulo-footer {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 64px;
}

form{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}



input[type="text"], input[type="email"], input[type="number"]{
    display: inline-block;
    width: 48%;
    padding: 13px;
    border: none;
    color: #fff;
    font-family: 'open sans';
    background: rgba(37,37,33,.7);
    margin-bottom: 16px;
    border-top: 5px solid rgba(37,37,33,.7)
}

input[type="text"]:focus, input[type="email"]:focus, input[type="number"], textarea:focus {
    border-top: 5px solid rgba(255,255,255,.7)
}

textarea{
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
    min-height: 200px;
    background: rgba(37,37,33,.7);
    border: none;
    color: #fff;
    font-family: 'open sans';
    margin-bottom: 16px;
    border-top: 5px solid rgba(37,37,33,.7)
}

input[type="submit"]{
    display: inline-block;
    padding: 13px;
    border: none;
    color: #fff;
    background: rgba(37,37,33,.7);
    width: 96px;
}

@media screen and (max-width:900px) {
    .card{
        width: 48%;
    }
    header .textos {
        margin-top: 130px;
    }
    header .titulo{
        font-size: 75px;
    }
}

@media screen and (max-width:610px) {
    .none{
        display: none;
    }
    .imagenes{
        flex-grow: 1;
    }
    header .textos {
        margin-top: 130px;
    }
    header .titulo{
        font-size: 75px;
    }
    .card{
        width: 90%;
    }
    .fondo {
        height: auto;
    }

    .cliente{
        margin-bottom: 50px;
        width: 90%;
    }
    .especial {
        display: none;
    }
}

@media screen and (max-width:495px){
    header .textos {
        margin-top: 100px;
    }
    header .titulo{
        font-size: 65px;
    }
    header .subtitulo{
        font-size: 25px;
        margin-bottom: 32px;
    }
    .sobre-nosotros {
        font-size: 46px;
    }

    .slogan{
        font-size: 20px;
    }

    .titulo-patrocinadores{
        font-size: 46px;
        margin-top: 110px;
    }

    .subtitulo-patrocinadores {
        font-size: 20px;
    }

    .cliente{
        margin-bottom: 90px;
        width: 90%;
    }
}